*{
    box-sizing: border-box;
}

body{
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.header{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 32px;
    padding-right: 70px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #fff;
}

.menu-button{
    padding: 0;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    width: 20px;
    height: 17px;
    border:none;
    margin-right: 28px;
    cursor: pointer;
}

.menu-line{
    display: block;
    width: 20px;
    height: 3px;
    background-color: #1f2022;
    border-radius: 20px;
}


.logo{
    margin-right: 59px;
}
.input-group{
    background: #ebebeb;
    border-radius: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 17px;
    max-width: 830px;
    width: 50%;
}


.search-input{
    background-color:transparent;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 23px;
    width: 100%;
}

.button-search{
    padding: 0px;
    width: 19px;
    height: 19px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.icon-search{
    fill: #000;
}

.icons{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.icons-link{
    text-decoration: none;
    opacity: 0.24;
}

.icons-link:hover{
    opacity: 0.7;
}

.icons-link:not(:last-child){
    margin-right: 50px;
}

.user{
    margin-left: 45px;
}
.user-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.sidebar{
    padding-left: 32px;
    position: fixed;
    top: 114px;
    left: 0;
    width: 15%;
    height: calc(100% - 114px);
    overflow-y:auto;
}

.content{
    width: 100%;
    height: 400px;
    padding-top: 30px;
    padding-left: 17%;
    margin-top: 85px;

}
.nav-menu{
    margin-top: 0;
    margin-bottom: 60px;
    padding-left: 0px;
    list-style-type: none;
}
.nav-item{
    margin-bottom: 28px;
}
.nav-link{
    display: flex;
    align-items: center;
    color:#898989;
    text-decoration: none;
}
.nav-link:hover{
    color: #ff0000;
}

.nav-link:hover .icon{
    fill: #ff0000;
}
.nav-item .icon{
    fill: #898989;
}
.nav-text{
    margin-left: 13px;   
}

.nav-image{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.nav-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 30px;
}
.channel{
    position: relative;
    margin-bottom: 50px;
}
.channel-title{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    text-decoration: none;
    color: #19202C;
    font-weight: bold;
    font-size: 26px;
    line-height: 33px;
}


.channel-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}

.channel-text{
    margin-left: 20px;
}

.video-card{
     width: 250px;
}
.video-thumb{
    width: 250px;
    height: 150px;
    overflow: hidden;
    border-radius: 14px;
    position:relative;
}

.thumbnail{
    width: 250px;
    height: 150px;
    object-fit: cover;
}
.video-card-rec{
    width: 540px;
}

.thumbnail-rec {
    width: 540px;
    height: 250px;
    object-fit: cover;
 }
 
.video-duration{
    position: absolute;
    bottom :10px;
    right: 10px;
    background: rgba(0,0,0,0.3);
    border-radius: 12px;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    padding: 3px 9px;
}

.video-title{
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #19202C;
    margin-top: 10px;
    margin-bottom: 4px;
}


.video-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    line-height: 16px;
    color: #C2C2C2;
}

.video-counter{
    display: flex;
  
}
.video-views{
    margin-right: 5px;
}

.video-views:after{
    content: '';
    width: 2px;
    height: 2px;
    background-color: #c2c2c2;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.channel-button{
    cursor: pointer;
}

.slider-buttons{
    position: absolute;
    right: 8%;
    top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 66px;
    margin-bottom: 10px;
}

.channel-desc{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #C2C2C2;
    margin-left: 13px;
}